app-start-game {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .startGameContainer {
    min-width: 30vw;
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .playerName {
      min-width: 20vw;
      max-width: 30vw;
    }

    .playButton {
      margin-top: 20px;
    }

    .playButton, .mat-button-wrapper, .mat-icon {
      width: 150px;
      height: 150px;
    }

    .mat-icon {
      font-size: 150px;
      line-height: normal;
    }
  }
}
