<mat-toolbar [color]="'primary'">
  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
    <mat-icon *ngIf="!menuTrigger.menuOpen">menu</mat-icon>
    <mat-icon *ngIf="menuTrigger.menuOpen">menu_open</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu>
  <button mat-menu-item routerLink="play-game" routerLinkActive="active">
    <mat-icon>play_circle_outline</mat-icon>
    <span>Play</span>
  </button>
  <button mat-menu-item routerLink="highscore-list" routerLinkActive="active">
    <mat-icon>score</mat-icon>
    <span>Highscore</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
